:root {
  --hero-gradient-start: rgba(126, 213, 111, 0.8);
  --hero-gradient-end: rgba(40, 180, 133, 0.8);
  --nav-background-gradient-start: #7ed56f;
  --nav-background-gradient-end: #28b485;
  --nav-background: radial-gradient(var(--nav-background-gradient-start),
      var(--nav-background-gradient-end));
  --primary: #55c57a;
  --secondary: #f7f7f7;
  --text-muted: #777;

  --hamburger-bar-margin-top: 3rem;
  --hambuger-bar-spacing: 0.6rem;
  --hero-section-button-padding: 0.9rem 2.5rem;
  --hero-background-clip-height: 75vh;



  --about-section-buttom-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  --about-title-text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  --about-image-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  --feature-card-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  --about-section-content-gap: 3rem;
  --feature-card-gap: 1.875rem;

  --hero-section-heading-main-ls: 3.5rem;
  --hero-section-heading-sub-ls: 1.75rem;
  --about-section-padding: 25rem 0;
  --margin-bottom-big: 8rem;

  --tour-card-gradient-amber: linear-gradient(to right bottom, #ffb900, #ff7730);
  --tour-card-title-gradient-amber: linear-gradient(to right bottom,
      rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));

  --tour-card-gradient-green: linear-gradient(to right bottom, #7ed56f, #28b485);
  --tour-card-title-gradient-green: linear-gradient(to right bottom,
      rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));

  --tour-card-gradient-blue: linear-gradient(to right bottom, #2998ff, #5643fa);
  --tour-card-title-gradient-blue: linear-gradient(to right bottom,
      rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*1 rem will be 10px*/
  font-size: 62.5%;
}

body {
  max-width: 1920px;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  padding: 1.875rem;
  line-height: 1.7;
}

/*hero section styles*/

.hero-section {
  height: 95vh;
  background-image: linear-gradient(to right bottom,
      var(--hero-gradient-start),
      var(--hero-gradient-end)),
    url("../public/img/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0,
      100% 0,
      100% var(--hero-background-clip-height),
      0 100%);
  position: relative;
}

.hero-section__brand_container {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.hero-section__brand {
  height: 3.5rem;
}

.hero-section__content_container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-section__main_title {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: var(--hero-section-heading-main-ls);
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: center;
  animation: from-left 1s ease-out;
  animation-fill-mode: backwards;
  transition: all 0.4s ease;
}

.hero-section__sub_title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: var(--hero-section-heading-sub-ls);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  backface-visibility: hidden;
  animation: from-right 1s ease-out;
  animation-fill-mode: backwards;
}

.hero-section__btn_container {
  margin-top: 10rem;
}

.hero-section__btn {
  background-color: #fff;
  color: #777;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  border-radius: 6.25rem;
  display: inline-block;
  position: relative;
  border: none;
  animation: from-bottom 0.5s ease-in-out 0.75s;
  animation-fill-mode: backwards;
  cursor: pointer;
}

.hero-section__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}

.hero-section__btn::after {
  content: "";
  display: inline-block;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #fff;
}

.hero-section__btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*hero section styles*/

/*hambuger button styles*/
.hamburger__btn {
  width: 7rem;
  height: 7rem;
  position: fixed;
  z-index: 2000;
  border-radius: 50%;
  top: 6rem;
  right: 6rem;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #fff;
}

.hamburger__bar,
.hamburger__bar::before,
.hamburger__bar::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;

  position: relative;
}

.hamburger__bar {
  margin-top: var(--hamburger-bar-margin-top);
}

.hamburger__bar::before {
  content: "";
  top: -1rem;
  left: 0;
  transition: all 0.2s;
  position: absolute;
}

.hamburger__bar::after {
  content: "";
  top: 1rem;
  left: 0;
  transition: all 0.2s;
  position: absolute;
}

.hamburger__btn.active>.hamburger__bar {
  background-color: transparent;
}

.hamburger__btn.active>.hamburger__bar::before {
  top: 0;
  transform: rotate(135deg);
}

.hamburger__btn.active>.hamburger__bar::after {
  top: 0;
  transform: rotate(-135deg);
}

/*hambuger button styles*/

/*navigation list styles*/
.navigation__background {
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 1000;
  border-radius: 50%;
  background-image: var(--nav-background);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__background.active {
  transform: scale(80);
}

.navigation__nav {
  position: fixed;
  z-index: 1500;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1500;
  list-style: none;
  width: 100%;
}

.navigation__nav.active {
  width: 100%;

  opacity: 1;
}

.navigation__item {
  margin: 1rem;
  text-align: center;
}

.navigation__link {
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem;

  /* 50% repeating */
  background-image: linear-gradient(120deg,
      transparent 0%,
      transparent 50%,
      #fff 50%);
  background-size: 220%;
}

.navigation__link:hover {
  color: var(--primary);
  transform: translateX(0.5rem);
  background-position: 100%;
}

/*navigation list styles*/

/*about section styles*/

.about-section {
  padding: var(--about-section-padding);
  background-color: var(--secondary);
  margin-top: -20vh;
}

.about-section__title_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}

.about-section__title {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(to right,
      var(--nav-background-gradient-start),
      var(--nav-background-gradient-end));
  letter-spacing: 2px;
  text-align: center;
  color: transparent;
  background-clip: text;
  transition: all 0.2s;
  cursor: pointer;
}

.about-section__title:hover {
  transform: skewX(15deg) skewY(2deg) scale(1.1);
  text-shadow: var(--about-title-text-shadow);
}

.about-section__content_container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  max-width: 100rem;
  margin: 0 auto;
  column-gap: var(--about-section-content-gap);
}

.about-section__left_container {
  display: flex;
  flex-direction: column;
  max-width: calc(calc(100% - 3rem) / 2);
  row-gap: 3rem;
}

.about-section__text_container {
  display: flex;
  flex-direction: column;
}

.about-section__description_title_container {
  margin-bottom: 1.5rem;
}

.about-section__description_title {
  color: var(--text-muted);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.about-section__description {
  color: var(--text-muted);
  font-size: 1.6rem;
}

.about-section__right_container {
  width: fit-content;
  align-self: normal;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.about-section__image {
  width: 55%;
  position: absolute;

  z-index: 10;

  box-shadow: var(--about-image-box-shadow);
  border-radius: 2px;
  transition: all .2s;
  cursor: pointer;
  outline-offset: 2rem;
}

.about-section__image:hover {
  z-index: 20;
  outline: 1.5rem solid var(--primary);
  transform: scale(1.05) translateY(-.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}

.about-section__image.img-1 {
  left: 0rem;
  top: -2rem;
}

.about-section__image.img-2 {
  right: -1rem;
  top: 2rem;
}

.about-section__image.img-3 {
  left: 20%;
  top: 10rem;
}

.about-section__button_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about-section__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 3px;
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
  cursor: pointer;
  transition: all .2s;
}

.about-section__button:hover {
  box-shadow: var(--about-section-buttom-box-shadow);
  transform: translateY(-3px);
  background-color: var(--primary);
  color: #fff;

}

/*about section styles*/

/*feature section styles*/

.feature-section {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom,
      var(--hero-gradient-start),
      var(--hero-gradient-end)), url("../public/img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -20rem;
}

.feature-card__row {
  display: flex;
  width: 100rem;
  margin: 0 auto;
  column-gap: var(--feature-card-gap);
  transform: skewY(7deg);
}

.feature-card {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, .8);

  text-align: center;
  box-shadow: var(--feature-card-box-shadow);
  border-radius: 3px;
  color: var(--text-muted);
  transition: transform .3s;
}

.feature-card__title {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-muted);
}

.feature-card__title_container {
  margin-bottom: 1.5rem;
}

.feature-card__icon {
  font-size: 6rem;
  background: linear-gradient(to right, var(--nav-background-gradient-start),
      var(--nav-background-gradient-end));
  background-clip: text;
  color: transparent;
}

.feature-card__icon_container {
  margin-bottom: .5rem;

}

.feature-card__description {
  font-size: 1.5rem;
}


.feature-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

/*feature section styles*/


/*tour section styles*/
.tour-section {
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
  background-color: #f7f7f7;
}

.tour-section__heading_container {
  margin-bottom: var(--margin-bottom-big);
  text-align: center;
}

.tour-section__heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700px;
  background: linear-gradient(to right,
      var(--nav-background-gradient-start),
      var(--nav-background-gradient-end));
  letter-spacing: 2px;
  background-clip: text;
  color: transparent;
  transition: all .2s;
}

.tour-section__heading:hover {
  transform: skewX(15deg) skewY(2deg) scale(1.1);
  text-shadow: var(--about-title-text-shadow);
}

.tour-card__row {
  display: flex;
  max-width: 100rem;
  margin: 0 auto;
}

.tour-card {
  position: relative;
  height: 52rem;
  perspective: 150rem;
  width: calc((100% - 2 * 3rem) /3);
  margin-right: 3rem;
}

.tour-card__front {
  height: 52rem;
  width: 100%;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: var(--feature-card-box-shadow);
}

.tour-card__image {
  background-image: var(--tour-card-gradient-amber), url(../public/img/nat-5.jpg);
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tour-card__option_list {
  padding: 3rem;

}

.tour-card__option_list>ul {
  list-style: none;
  width: 75%;
  margin: 0 auto;
}

.tour-card__option_list>ul>li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;

}

.tour-card__heading_container {
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
  background-image: var(--tour-card-title-gradient-amber);

}

.tour-card__heading {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
}

.tour-card__option_list>ul>li:not(:last-child) {
  border-bottom: 1px solid #eee;
}


/*animation*/
@keyframes from-bottom {
  0% {
    opacity: 0;
    transform: translateY(1.875rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(6.25rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes from-left {
  0% {
    opacity: 0;
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* responsive break points */



@media screen and (min-width: 1201px) {


  :root {
    --min-fs: 1.25rem;
    --min-ls: 1rem;
  }
}




@media screen and (max-width: 1200px) {
  * {
    font-size: 56.25%;
  }




}





@media screen and (max-width: 900px) {

  * {
    font-size: 50%;
  }

  .secondary-heading {
    font-size: 3rem;
  }

  :root {
    --min-fs: 1rem;
    --about-section-padding: 35rem 0;
    --about-section-content-gap: 6rem;
    --feature-card-gap: 6rem;
    --hero-section-heading-main-ls: 1.5rem;
    --hero-section-heading-sub-ls: 1rem;
    --margin-bottom-big: 5rem;

  }

  .hamburger__btn,
  .navigation__background {
    top: 4rem;
    right: 4rem;
  }





  .about-section__content_container {
    flex-direction: column;
    column-gap: 0;
    row-gap: var(--about-section-content-gap);
    max-width: 50rem;
    padding: 0 3rem;

  }



  .about-section__left_container {
    max-width: 100%;
    width: 100%;
  }

  .about-section__right_container {
    width: 100%;

  }

  .feature-card__row {
    flex-direction: column;
    column-gap: 0;
    row-gap: var(--feature-card-gap);
    max-width: 50rem;
    padding: 0 3rem;
  }

  .feature-card__icon_container {
    margin-bottom: 0;
  }

  .feature-card {
    padding: 2rem;
  }



  .feature-section {
    padding: 10rem 0;
  }

  body {
    padding: 0;
  }


}




@media screen and (max-width: 600px) {
  * {
    font-size: 40%;
  }

  .secondary-heading {
    font-size: 2.5rem;
  }

  :root {
    --min-fs: 0.75rem;

    --hero-background-clip-height: 85vh;
    --about-image-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);

  }





  .about-section__right_container {
    justify-content: space-around;
  }

  .about-section__image.img-1,
  .about-section__image.img-2,
  .about-section__image.img-3 {
    width: 100%;
    height: auto;
    top: 0;
    position: relative;
    flex-grow: 1;

  }




  .about-section__image.img-1 {
    transform: scale(1.1);
  }



  .about-section__image.img-2 {
    transform: scale(1.2);
    z-index: 100;

  }


  .about-section__image.img-3 {

    transform: scale(1.1);
    left: 0;
  }

  .about-section__image:hover {
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 120;
    outline: 1.5rem solid var(--primary);
    transform: scale(1) translateY(-.5rem);
  }





}